@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 5rem 1rem;
}

.title {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: -0.045em;
    padding-bottom: 3rem;
}

.sub-title h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.sub-title p {
    font-size: 1rem;
    line-height: 21px;
    font-weight: 400;
    max-width: 333px;
    padding-bottom: 3rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.10rem;
}

.pic-container:nth-child(even) {
    margin-top: 2.5rem;
}

.avatar {
    display: flex;
}

.pics-title {
    display: flex;
    font-size: 0.75rem;
}

.job-title p {
    display: block;
    writing-mode: vertical-rl;

}

.crew img {
    display: block;
    max-width: 138px;
}

.name {
    padding-top: 0.75rem;
    padding-bottom: 2rem;
    font-weight: 600;
    line-height: 21px;
    font-size: 1rem;
}

footer {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
}

footer p {
    color: #bdbdbd;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
}

footer a {
    color: #bdbdbd;
    font-weight: 700;
}

@media (min-width: 576px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        display: flex;
        justify-content: flex-start;
    }

    .title-container {
        width: 250px;
        margin-right: 2rem;

    }

    .title {
        font-size: 24px;
    }

    .sub-title {
        display: flex;
        flex-direction: column;
    }

    .sub-title h3 {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        font-size: 16px;
    }

    .sub-title p {
        font-size: 14px;
        padding-bottom: 4rem;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
    }

    .pic-container {
        margin: 0 2rem;
    }

    .pic-container:nth-child(even) {
        margin-top: 0;
    }

    .pic-container:nth-child(3n + 2) {
        margin-top: 2rem;
    }
}