@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.image {
    width: 100%;
    height: 214px;
    border-radius: 12px;
    object-fit: cover;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5;
}

#container {
    max-width: 294px;
    margin: 0 auto;
    margin-top: 20vh;
}

.card {
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #BACDD8;
    margin-top: 1rem;
}

.label {
    padding-top: 1rem;
    padding-left: .5rem;
}

.tag {
    color: #788697;
    border: 1px solid #E5EAED;
    border-radius: 12px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #0E2632;
    padding: .75rem;
}

p {
    font-size: 14px;
    line-height: 21px;
    color: #7F8C9B;
    padding: 0 .5rem;
    margin-bottom: 1rem;
}

button {
    margin: .5rem auto;
    display: block;
    background-color: #E0EFFF;
    color: #0077FF;
    font-weight: 600;
    font-size: 10px;
    padding: 12px 24px;
    border-radius: 49px;
    border: none;
}